/* stylelint-disable-next-line no-empty-source */


.container {
	display: flex;
	justify-content: center;
	width: 100%;
	background: #F1F2F4;
}
h1 {
	color: #1DC9CF;
}
.form-auth{
	border-radius: 3px;
	padding: 40px;
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: 1fr 1fr ; 
	gap: 0px 0px; 
	grid-template-areas: 
	  "a b"
	  "a c"
	  ". ."; 
	gap: 40px;
	color: #757575;
	font-size: 14px;
	background: #fff;
}

.person-date{
	grid-area: a;
	display: flex;
	flex-direction: column;
	align-items: center;
	

}

.person-date__box{
	display: flex;
	column-gap: 50px;
}

.buttons{
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	row-gap: 30px;
}


.data-communication{
	grid-area: b;
	display: grid;
	
}

.delivery-address{
	display: grid;
	grid-area: c;
	
}

.title {
	font-size: 26px;
	color: #000;
	font-weight: 500;
}



.avatar {
	width: 100px;
	height: 100px;
	background: #000;
}

.initials{
	max-width: 350px;
}
/* .links{
	font-size: 12px;
	display: flex;
	gap: 10px;
	
} */

.inpt {
	border-bottom: 1px solid #AEAEAE;
	max-width: 350px;
	width: 100%;
	/* padding: 10px 0; */
	margin: 10px 0;
}

.btn1 {
	border-radius: 2px;
	max-width: 350px;
	width: 100%;
	padding: 10px 0;
	font-size: 18px;
	cursor: pointer;
	background: #AEAEAE;
	color: #fff;
}

.btn-hover:hover {
	background: var(--button-active-color);
}
/* .agreement{
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
}
.hidden-pass{
	cursor: pointer;
}
.password  {
	position: relative;
}

.eye{
	position: absolute;
	top: 10px;
	right: 30px;
}

.label-check {
	font-size: 14px;
	text-align: center;
}
.checkbox{
	cursor: pointer;
}


.label-check span {
	margin-left: 5px;
} */

.btn2{
	display: block;
	
	margin-top: 10px;
	border-radius: 2px;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	background: #AEAEAE;
	color: #fff;
}

.errors {
	color: red;
	margin-bottom: 5px;
}

.active{
	background: var(--button-active-color);
}

