/* stylelint-disable-next-line no-empty-source */
.title{
	margin: 20px 0;
	font-size: 36px;
	font-weight: 600;
	text-align: center;
	
}

.nav{
	margin: 20px 0;
	padding: 5px 0;
	background: #F1B6CC;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}